@import "tailwindcss";
@import "tw-animate-css";

/* @import "@fontsource-variable/geist"; */

@custom-variant dark (&:is(.dark *));

@theme {
  --color-background: #f4eee7;
  --color-foreground: #2c2420;

  --color-card: #ffffff;
  --color-card-foreground: #2c2420;

  --color-popover: #ffffff;
  --color-popover-foreground: #2c2420;

  --color-primary: #2c2420;
  --color-primary-foreground: #f4eee7;

  --color-secondary: #b89b72;
  --color-secondary-foreground: #2c2420;

  --color-muted: #77716b;
  --color-muted-foreground: #77716b;

  --color-accent: #b89b72;
  --color-accent-foreground: #2c2420;

  --color-destructive: #b94a48;
  --color-destructive-foreground: #ffffff;

  --color-border: #d9cfc4;
  --color-input: #d9cfc4;
  --color-ring: #b89b72;

  --font-sans:
    "Segoe Print",
    "Bradley Hand",
    Chilanka,
    TSCu_Comic,
    casual,
    cursive;

  --font-heading: var(--font-sans);
}

:root {
  --gcid-primary-color: #472300;
  --gcid-secondary-color: #f8f3e8;
  --gcid-link-color: #000000;
  --gcid-heading-color: #472300;
  --gcid-body-color: #000000;
}

@layer base {
  *,
  ::before,
  ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    @apply font-sans;

    scrollbar-width: thin;
    scrollbar-color: gray transparent;
  }

  body {
    font-family:
      "Segoe Print",
      "Bradley Hand",
      Chilanka,
      TSCu_Comic,
      casual,
      cursive;

    @apply bg-background text-foreground;
  }

  ::selection {
    background: transparent;
  }

  :where(h1, h2, h3, h4, h5, h6) {
    text-wrap: balance;
  }

  img {
    max-width: 100%;
    height: auto;
    font-style: italic;
    color: rgb(255 0 0 / 0.7);
    vertical-align: middle;
    object-fit: cover;
  }

  a {
    text-decoration: none;
    cursor: pointer;
  }
}